h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

body {
  background-color: black;
}

.pull-left .well {
  background-color: blue;
}

.col-md-3 #tan {
  background-color: tan;
}

.green {
  background-color: green;
}

.col-md-3 #blue {
  background-color: blue;
}

.col-md-3 #red {
  background-color: red;
}

.jumbotron {
  background-color: grey;
}
